html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
}

#btnReady::after {
  content: "ready"
}
.connecting::after {
  content: "connecting..." !important;
}

.connected::after {
  content: "connected" !important;
}

/* scene selector */
body>.container {
  display: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* scene selector */
body[data-scene=loading] {
  display: none;
}
body[data-scene=setup]>.container#setup {
  display: block;
}

body[data-scene=studio]>.container#studio {
  display: block;
}

/* center aligner */
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.alignerItem {
}

/* card */
.card {
  width: 20em;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card>.title {
  font-size: 1.5em;
  margin-top: 1em;
  max-width: 100%;
}

.card>.avatar {
  margin-top: 1em;
  width: 10em;
  height: 10em;
}

.card>.avatar {
  background-repeat: no-repeat;
  background-position: center;
}

.card>.thumbnails {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3em;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

.card>.thumbnails>dd {
  width: 2em;
  height: 2em;
  outline: #eaeaea solid 1px;
  margin: 0;
}

.card>.thumbnails>dd {
  background-repeat: no-repeat;
  background-position: center;
}

.container#setup .alignerItem>.card {
  display: none;
}

.container#setup .alignerItem[data-scene="avatar"]>.card#avatar {
  display: flex;
}

.container#setup .alignerItem[data-scene="name"]>.card#name {
  display: flex;
}
.container#setup .alignerItem #userInfoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

#studio>.head {
  position: absolute;
  left: 1em;
  top: 1em;
}
#studio>.status {
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: right;
}
#studio>.videoContainer {
  height: 100%;
  width: 100%;
}
#studio>.videoContainer>video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
}
#flowInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#onAirForm[data-status="connecting"]>input#title,  #onAirForm[data-status="connected"]>span.title {
  display: none;
}

#onAirForm[data-status="connected"]>input#title, #onAirForm[data-status="connected"]>span.title {
  -webkit-animation-name: titleKeyAnimation;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
span.title {
  height: 2em;
}
input#title {
  height: 1em;
}
span.title, input#title {
  border: 0;
  text-align: center;
  font-size: 3em;
  opacity: 0.4;
  word-break: break-word;
  width: 100%;
}

#buttons{
  position: absolute;
  right: 1em;
  bottom: 1em;
}
#buttons button{
  background-color: #8f5cd6;
}